@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

img {
    width: 200px;
}
body { 
        text-align: center;
        font-family: 'Helvetica';
        color: rgb(236, 55, 80);
        background: rgb(18, 18, 23)
}
.btn {
    font-family: 'BBH Bartle', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(236, 55, 80);
    color: white;
}
